@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary:#0284C7;
}

/* every element inside .reset-tw (like <h1>, <ul>, <p>) will ignore Tailwind styles and go back to the browser’s default look. */
.reset-tw, .reset-tw *{
  all:revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}